{% extends "base.html" %}

{% block title %}Анализатор страниц - {{ url_name }}{% endblock %}

{% block content %}
<div class="container-lg mt-3">
    <h1>Сайт: {{ url_name }}</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="url">
            <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url_id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url_name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ created_at }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 class="mt-5 mb-3">Проверки</h2>
    <form method="post" action="/urls/{{ url_id }}/checks">
        <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>

    <div>
        <table class="table table-bordered table-hover mt-2" data-test="checks">
            <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            {% for check in checks %}
            <tr>
                <td>{{ check[0] }}</td>  <!-- ID проверки -->
                <td>{{ check[1] }}</td>  <!-- Код ответа -->
                <td>{{ check[2] }}</td>  <!-- h1 -->
                <td>{{ check[3] }}</td>  <!-- title -->
                <td>{{ check[4] }}</td>  <!-- description -->
                <td>{{ check[5] }}</td>  <!-- Дата создания -->
            </tr>
            {% else %}
            <tr>
                <td colspan="6" class="text-center">Нет проверок</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}