<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список URL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Список добавленных URL</h1>
        
        <!-- Проверка наличия URL -->
        {% if urls %}
            <ul class="list-group mt-4" data-test="urls"> <!-- Атрибут data-test добавлен сюда -->
                {% for url in urls %}
                    <li class="list-group-item">
                        <a href="{{ url_for('show_url', url_id=url[0]) }}">{{ url[1] }}</a> <!-- Ссылка на отображение URL -->
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-center">Нет добавленных URL.</p>
        {% endif %}
        
        <div class="text-center mt-4">
            <a href="/" class="btn btn-primary">Назад на главную</a> <!-- Кнопка возвращения на главную -->
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>